[submodule "FlockingSandbox"]
	path = FlockingSandbox
	url = https://github.com/RubenGres/FlockingSandbox.git
[submodule "site-web-insa"]
	path = site-web-insa
	url = https://gitlab.com/RubenGres/site-web-insa.git
[submodule "Tankatak"]
	path = Tankatak
	url = https://github.com/RubenGres/Tankatak.git
[submodule "TvShowRatings"]
	path = TvShowRatings
	url = https://github.com/RubenGres/TvShowRatings
