* {
    margin: 0;
    padding: 0;
}

#nav-placeholder {
    height: 116px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    /* Need a specific value to work */

    padding-right: 1200px;

    z-index: 999;
}

body {
    line-height: 24px;
    background: url(images/noise.jpg);
    background-size: 200px;
    line-height: 27px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #797979
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    color: #05364d;
}

.home_banner_area .banner_content h5 {
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .home_banner_area .banner_content h5 {
        line-height: 36px
    }
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font: 500 14px/100px "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #05364d;
    padding: 0px 30px;
    font-size: 12px;
    display: inline-block;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #efb6df;
    border-bottom: 0px;
}

.home_banner_area .banner_content .social_icons a {
    color: rgba(5, 54, 77, 0.5);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.home_banner_area .banner_content .social_icons a:hover {
    background: -webkit-linear-gradient(90deg, #456df3 0%, #e66cb8 100%);
    background: -moz-linear-gradient(90deg, #456df3 0%, #e66cb8 100%);
    background: -o-linear-gradient(90deg, #456df3 0%, #e66cb8 100%);
    background: linear-gradient(90deg, #456df3 0%, #e66cb8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social_icons a {
    padding-right: 20px;
}

.main_title p.top_text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    margin-bottom: 70px;
    font-size: 25px;
}

/*
.main_title p.top_text span {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #456df3 0%, #e66cb8 50%, #ffffff 100%);
    filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    border-radius: 5px
}
*/

/* projects */

.crop {
    width: 330px;
    height: 220px;
    overflow: hidden;
    margin: 10px;
}

.crop img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.crop img:hover {
    transform: scale(1.05, 1.05);
}

.projects {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

/* banner */

.home_banner_area {
    padding-top: 250px;
    padding-bottom: 200px;

    background: url(../img/banner/home-banner4.png) no-repeat top center;
    background-position: center;
    background-size: cover;
}

@media (max-width: 767px) {
    .home_banner_area {
        background: #ffffff
    }
}

.home_banner_area .banner_inner {
    width: 100%;
}

@media (max-width: 991px) {
    .home_banner_area .banner_inner {
        width: 100%;
    }
}

.home_banner_area .banner_inner .home_right_img {
    padding-top: 197px
}

@media (max-width: 991px) {
    .home_banner_area .banner_inner .home_right_img {
        display: none
    }
}

.home_banner_area .banner_content {
    text-align: left
}

/* services_area */

.services_area {
    margin-bottom: 150px;
}

/* service item */

a {
    color: inherit;
    text-decoration: none;
}


a:hover {
    color: inherit;
    text-decoration: none;
}

.tilt1 {
    transform: rotate(-3deg);
}

.tilt2 {
    transform: rotate(0deg);
}

.tilt3 {
    transform: rotate(3deg);
}

.service_item {
    padding: 60px 30px;
    background: #e3ebff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 2%;
}

.service_item img {
    margin-bottom: 20px;
    border-radius: 10%;
}

.service_item h4 {
    color: #05364d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}

.service_item p {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.tilt1:hover {
    transform: translateY(-20px) rotate(-3deg);
}

.tilt2:hover {
    transform: translateY(-20px) rotate(0deg);
}

.tilt3:hover {
    transform: translateY(-20px) rotate(3deg);
}

.color1 {
    border: 4px solid hwb(222 38% 0%);
}

.color2 {
    border: 4px solid hsl(261, 100%, 69%);
}

.color3 {
    border: 4px solid hsl(298, 100%, 69%);
}

.color1:hover {
    background: hsl(222, 100%, 69%);
}

.color2:hover {
    background: hsl(261, 100%, 69%);
}

.color3:hover {
    background: hsl(298, 100%, 69%);
}

.service_item:hover h4,
.service_item:hover p,
.service_item:hover .primary_btn2 {
    color: #ffffff
}

.service_item:hover .primary_btn2:before {
    background: #ffffff
}

.primary_btn2 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.primary_btn2:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 50px;
    height: 2px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}

.gradient-bg,
.primary_btn2:before,
.navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link,
.footer_area .footer_social a:hover {
    background: -webkit-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: -moz-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: -o-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%)
}

/* Taem member */

.team_member {
    padding: 60px 30px;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
}

.team_member img {
    margin-bottom: 20px;
    border-radius: 100%;
    transition: all 5s ease 0s;

}

.team_member img:hover {
    transform: rotate(360deg);
    transition: all 5s ease 0s;
}

.team_member p {
    margin-bottom: 20px;
    border-radius: 100%;
}

/* Other projects*/

.other_project {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 3%;
    margin-top: 35px;
}

.other_project img {
    transition: transform 0.5s ease;
}

.other_project:hover img {
    transform: scale(1.08);
}

.other_project .op_label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.9); 

    color: #fff;
    transition: transform 0.5s ease;
    transform: translateY(100%);

}

.other_project .op_label p {
    padding-left: 20px;
    padding-right: 20px;
}

.other_project:hover .op_label {
    transform: translateY(0);
}

.other_project .op_label h3 {
    position: absolute;
    top: -40px;
    height: 40px;
    font-size: 20px;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 20px;
    padding-top: 10px;
}